<ng-container>
    <div class="app-bag-overlay">
        <div class="bag-view">
            <div class="bag-header">
                <div class="bag-section">
                    <img src="assets/images/svg/shopping-bag-icon.svg" alt="" class="icon-25">
                    <span class="m-0 p-0 s15-h24 ml-6">5</span>
                </div>
                <div class="price-section">
                    <p class="m-0"><b>NGN</b> 20,000</p>
                    <p class="m-0"><b>Shipping:</b> NGN 1,000</p>
                </div>
            </div>
            <div class="bag-footer">
                footer
            </div>
        </div>
    </div>
</ng-container>