<ng-container>
    <div class="app-bag-overlay">
        <div class="bag-view">
            <ng-container [ngSwitch]="switchIt">

                <ng-container *ngSwitchCase="'bag'">
                    <ng-container *ngTemplateOutlet="bag"></ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="'bagFormA'">
                    <ng-container *ngTemplateOutlet="bagFormA"></ng-container>
                </ng-container>
                
                <ng-container *ngSwitchDefault>
                    <ng-container *ngTemplateOutlet="bag"></ng-container>
                </ng-container>
            </ng-container>
            
        </div>
    </div>
</ng-container>


<ng-template #bag>
    <div>
        <div class="bag-header">
            <div class="bag-section">
                <img src="assets/images/svg/shopping-bag-icon.svg" alt="" class="icon-25">
                <span class="m-0 p-0 s15-h24 ml-6">5</span>
            </div>
            <div class="price-section">
                <p class="m-0 s15-h24"><b>NGN</b> 20,000</p>
                <p class="m-0 s15-h24"><b>Shipping:</b> NGN 1,000</p>
            </div>
        </div>

        <div class="bag-contents">
            <div class="bag-content">

                <div>
                        <div class="bag-product-img">
                        <img src="assets/images/product6.jpg" alt="">
                    </div>
                    <div>
                        <p class="m-0 s12-h16 s15-md-h24">Product Name</p>
                        <p class="m-0 s12-h16 s15-md-h24">NGN 5,000</p>
                    </div>
                </div>

                <div>
                    <div class="ml-6 ml-md-0" [formGroup]="componentForm">
                        <app-inputs type="quantity" formControlName="quantity"></app-inputs>
                    </div>
                    <div class="ml-6">
                        <button class="btn-none">
                            <img src="assets/images/svg/delete-icon.svg" alt="" class="icon-20">
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="bag-footer">
        <app-button color="secondary">
            Keep shopping
        </app-button>
        <app-button>
            Checkout
        </app-button>
    </div>

</ng-template>

<ng-template #bagFormA>
    <div>
        <div class="bag-header">
            <div class="bag-section">
                <p class="m-0 p-0 s22-h32 text-weight-bold">Ados Shop</p>
                <p class="m-0 p-0 text-weight-medium s15-h24">Shipping</p>
            </div>
        </div>
        <div class="bag-contents">
            <div class="row">

                <div class="col-12">
                    <label class="m-0 s12-h16 text-weight-bold">Your Name</label>
                </div>

                <div class="col p-0 d-flex justify-content-start align-items-center">
                    <div class="col-6">
                        <div>
                            <app-inputs type="input" [config]="inputConfig('First Name')"></app-inputs>
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            <app-inputs type="input" [config]="inputConfig('Last Name')"></app-inputs>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-12 mt-20">
                    <div>
                        <label class="m-0 s12-h16 text-weight-bold">Your Email</label>
                        <app-inputs type="input" [config]="inputConfig('Email', 'email')"></app-inputs>
                    </div>
                </div>
            </div>

            <div class="row mt-20">
                
                <div class="col-12">
                    <label class="m-0 s12-h16 text-weight-bold">Phone Number</label>
                </div>

                <div class="col-12 d-flex justify-content-start align-items-center">
                    <p class="m-0 mr-16">
                    +234
                    </p>
                    <app-inputs type="input" [config]="inputConfig('Number', 'tel')"></app-inputs>
                    
                </div>
            </div>

            <div class="row">
                <div class="col-12 mt-20">
                    <div>
                       <label class="m-0 s12-h16 text-weight-bold">Delivery Address</label> <br>
                        <app-inputs type="input" [config]="inputConfig('Full Address')"></app-inputs>
                    </div>
                </div>
            </div>


        </div>
    </div>
</ng-template>
