@import "./../assets/fonts/fonts";
@import "./components/input";
@import "./components/typography";
@import "./components/colors";
@import "./components/border";
@import "./components/images";
@import "./components/sizing";
@import "./components/buttons";
@import "./components/cards";
@import "./components/overlay";
@import "./components/modal";
@import "./components/bag";



body {
    background: $app-tetiary !important;
    font-family: $raleway;
}

.app-container {
    position: relative;
}
.border-radius-50p {
    border-radius: 50%;
}
.cursor-pointer {
    cursor: pointer;
}