@import "../mixins";
@import "../variables";

.app-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 2rem 1rem;
}
@media screen and (min-width: 500px) {
    .app-cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
.app-card {
    display: grid;
    grid-template-columns: 100%;
    gap: 0.5rem;
    overflow: hidden;

    .app-card-image {
        width: 100%;
        overflow: hidden;
        height: 180px;

        img {
            height: 180px;
            width: 100%;
            object-fit: cover;
        }
    }

    .app-card-details {
        .app-card-name {
            font-weight: 600;
        }
        app-card-price {
            font-weight: 500;
        }
    }
    
}