@import "../mixins";
@import "../variables";

.app-primary-color {
    color: $app-primary !important
}
.app-primary-bg {
    background: $app-primary !important
}
.red-color {
    color: red !important;
}