@import "../variables";
@import "../mixins";

.icon-25 {
    width: rem(25);
    height: rem(25);
}

.icon-20 {
    width: rem(20);
    height: rem(20);
}

.icon-18 {
    width: rem(18);
    height: rem(18);
}