@import "../mixins";
@import "../variables";
@import "./overlay";


.app-modal-overlay {
    @extend .app-overlay;
    @include flexbox;
}
.app-modal-body {
    width: 100%;
    height: 80vh;
    background: $white;
    position: absolute;
    bottom: 0;
    border-top-right-radius: rem(6);
    border-top-left-radius: rem(6);
    overflow-y: scroll;
    overflow-x: hidden;

    .app-modal-header {
        @include flexbox;
        @include flex-direction(row);
        @include justify-content(space-between);
        @include align-items(center);
        padding: rem(10) rem(20);
        width: 100%;
        position: fixed;
        background: $white;
        border-top-right-radius: rem(6);
        border-top-left-radius: rem(6);
        .modal-name {
            font-size: rem(20);
        }
         .modal-close-icon {
             width: rem(30);
             height: rem(30);
             img {
                width: rem(30);
                height: rem(30);
                object-fit: cover;
             }
         }
    }
    .modal-desc {
        margin-top: rem(40);
        font-size: rem(16);
        padding: rem(10) rem(20);
        .modal-img {
            width: 100%;
            height: rem(250);
            overflow: hidden;
            img {
                width: 100%;
                height: rem(250);
                object-fit: cover;
                border-radius: rem(6);
            }
        }
    }
}